@import "src/components/styles/variables/color";
@import "src/components/styles/variables/property";

.signinPage {
  display: flex;
  width: 100%;
  height: 100vh;
  background-image: url('./images/backgraund.svg');
  background-repeat: no-repeat;
  background-color: $pages-bg-color;
  background-size: 100%;
}

.image {
  display: flex;
  background-image: url('/assets/images/beeshka.svg');
  width: 35%;
  height: 35vh;
  background-repeat: no-repeat;
  background-size: contain;
}

.title {
  display: flex;
  width: 40%;
  margin-left: 20%;
}

.main {
  display: flex;
  width: 50%;
  height: 70vh;
  justify-content: center;
  align-items: center;
  align-self: center;
  background-color: $modal-bg;
  border-radius: $small-border-radius;
  flex-direction: column;
  box-shadow: $shadow;
}

.switcher {
  display: flex;
  width: 90%;
  height: 10vh;
  background-color: $pages-bg-color;
  border-radius: $small-border-radius;
  margin-top: 2%;
  box-shadow: $shadow;
}

.field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

}
