.signin-page {
  display: flex;
  width: 100%;
  height: 100vh;
  background-image: url('/assets/images/bubbleforsigninpage.svg');
  background-repeat: no-repeat;
  background-color: #FFBA73;
  background-size: 100%;
}

.signin-page-image {
  display: flex;
  background-image: url('/assets/images/imgforsigninpage.svg');
  width: 35%;
  height: 35vh;
  background-repeat: no-repeat;
  background-size: contain;
}

.signin-page-image-title {
  display: flex;
  width: 40%;
  margin-left: 20%;
}

.signin-page-main {
  display: flex;
  width: 50%;
  height: 70vh;
  justify-content: center;
  align-self: center;
  background-color: #FF8673;
  border-radius: 50px;
  flex-direction: column;
}

.signin-page-main-switcher {
  display: flex;
  width: 90%;
  height: 10vh;
  background-color: #FFBA73;
  border-radius: 50px;
  margin-top: 2%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
