@import "src/components/styles/variables/color";
@import "src/components/styles/variables/font";
@import "src/components/styles/variables/property";

.signinPage {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  background-image: url('./images/backgraund.svg');
  background-repeat: no-repeat;
  background-color: $pages-bg-color;
  background-size: 100%;
}

.image {
  display: flex;
  background-image: url('/assets/images/beeshka.svg');
  width: 30%;
  height: 35vh;
  background-repeat: no-repeat;
  background-size: contain;
}

.title {
  display: flex;
  width: 30%;
  margin-left: 20%;
}
