@use "../styles/variables/color.scss";

.title, .bottom-title, .upper-title {
  display: flex;
}

.title {
  flex-direction: column;
  justify-content: flex-end;
  width: 60%;
}

.upper-title {
  color: color.$upper-title-color;
}

.bottom-title {
  align-self: flex-end;
  color: color.$botton-title-color;
}
