$upper-color: #8B003F;
$botton-color: #A65400;

.title, .bottom-title, .upper-title {
  display: flex;
}

.title {
  flex-direction: column;
  justify-content: flex-end;
  width: 60%;
}

.upper-title {
  color: $upper-color;
}

.bottom-title {
  align-self: flex-end;
  color: $botton-color;
}
