@import "src/components/styles/variables/color";

.header-title {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 3%;

  .upper-title {
    color: $upper-title-color;
  }

  .bottom-title {
    align-self: flex-end;
    color: $bottom-title-color;
  }
}
