@import "../styles/variables/color";
@import "src/components/styles/variables/font";
@import "src/components/styles/variables/property";

.modal-content {
  background-color: $bg-color;
  border: 2px solid $border-color;
  padding: 20px;
}

.modal-title {
  color: $upper-title-color;
  font-size: 24px;
  margin-bottom: 20px;
}

.modal-label {
  color: $text-color;
  margin-bottom: 10px;
}

.modal-select {
  border: 1px solid $border-color;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
}

.modal-button {
  background-color: $default-button-color;
  color: $bg-color;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $active-button;
  }
}
