@import "src/components/styles/variables/color";
@import "src/components/styles/variables/property";

.field {
  display: flex;
  background-color: $pages-bg-color;
  border-radius: $mini-border-radius;
  width: 90%;
  border-color: green;


}
