@import "src/components/styles/variables/color";
@import "src/components/styles/variables/property";
@import "src/components/styles/variables/font";

.field {
  display: flex;
  width: 90%;
  height: 80px;
  background-color: $pages-bg-color;
  border-radius: $small-border-radius;
  justify-content: center;
  align-content: stretch;
}

.field input {
  color: $text-color;
  font-size: $medium-font-size;
}
