$bg-color: #fff;
$border-color: #A61700;
$pages-bg-color: #FFBA73;
$upper-title-color: #8B003F;
$bottom-title-color: #A65400;
$text-color: #a61700;
$default-button-color: #FFBA73;
$white-border: #fff;
$modal-bg: rgba(255, 134, 115, 0.7 );
$activ-button: #FFA040;
