@use "../styles/variables/color.scss";
@use "../styles/variables/font.scss";

.text-button {
  font-family: font.$font-stack;
  font-size: 24px;
  color: color.$text-color;
}

.button {
  border-color: color.$white-border;
}
