@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto&display=swap');

$font-stack: 'Roboto';
$text-color: #A61700;
$border-color: #ffffff;


.text-button {
  font-family: $font-stack;
  font-size: 24px;
  color: $text-color;
}

.button {
  border-color: $border-color;
}
