@import "src/components/styles/variables/color";
@import "src/components/styles/variables/property";

.submit {
  display: flex;
  background-color: $pages-bg-color;
  border-radius: $small-border-radius;
  width: 100%;
  justify-content: center;

}
