.search-page {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: space-around;
  flex-direction: column;
  background-image: url('/assets/images/bubble.svg');
  background-repeat: no-repeat;
}

.search-page-assets {
  display: flex;
  flex-direction: row;
  width: 50%;
  align-self: center;
  align-content: stretch;
  flex-wrap: wrap;
}

.search-page-buttons {
  display: flex;
  justify-content: flex-end;
  margin-right: 3%;
}

.search-page-image {
  display: flex;
  width: 40%;
  height: 40vh;
  background-image: url('/assets/images/limon.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.search-page-main {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
