@import "src/components/styles/variables/color";
@import "src/components/styles/variables/font";

.textButtonStyle {
  font-family: $font-stack;
  font-size: $medium-font-size;
  color: $text-color;
}
