@use "../styles/variables/color.scss";
@use "../styles/variables/font.scss";

.large, .default {
 display: flex;
  width: 100%;
  justify-content: center;
  background-color: color.$default-button-color;
  margin: 5px;
}

.large-menu-button-text, .default-menu-button-text {
  font-family: font.$font-stack;
  font-size: 32px;
  color: color.$text-color;
}
