@import "src/components/styles/variables/color";
@import "src/components/styles/variables/font";

.large,
.default {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: $default-button-color;
  margin: 5px;
}

.large-menu-button-text,
.default-menu-button-text {
  font-family: $font-stack;
  font-size: $big-font-size;
  color: $text-color;
}
