@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto&display=swap');

$font-stack: 'Roboto';
$text-color: #a61700;
$button-color: #FFBA73;

.large, .default {
 display: flex;
  width: 100%;
  justify-content: center;
  background-color: $button-color;
  margin: 5px;
}

.large-menu-button-text, .default-menu-button-text {
  font-family: $font-stack;
  font-size: 32px;
  color: $text-color;
}
