@import '@fontsource/righteous';
@import '@fontsource/roboto';

body {
  margin: 0;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  margin: 0;
  padding: 0;
  background-color: #FFBA73;

}

html {
  margin: 0;
  padding: 0;
}

h1 {
  display: flex;
  font-family: 'Righteous';
  font-style: normal;
  font-weight: 400;
  font-size: 85px;
  line-height: 106px;
  margin-block-start: 0;
  margin-block-end: 0;
}
